@import url( merriweather.css );
img.wp-smiley {
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .05em 0 .1em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}/**
 * Like Button toolbar button, loading text & container styles
 *
 * @todo: doesn't look like "style.css" is used anymore.
 */


/* Master container */
#jp-post-flair {
	padding-top: .5em;
}

/* Overall Sharedaddy block title */
div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	clear: both;
}

div.sharedaddy h3.sd-title {
	margin: 0 0 1em 0;
	display: inline-block;
	line-height: 1.2;
	font-size: 9pt;
	font-weight: bold;
}

div.sharedaddy h3.sd-title:before {
	content: "";
	display: block;
	width: 100%;
	min-width: 30px;
	border-top: 1px solid #ddd;
	margin-bottom: 1em;
}


/* Toolbar */
#wpadminbar li#wp-admin-bar-admin-bar-likes-widget {
	width: 61px;
	overflow: hidden;
}

#wpadminbar iframe.admin-bar-likes-widget {
	width: 61px;
	height: 28px;
	min-height: 28px;
	border-width: 0px;
	position: absolute;
	top: 0;
}

div.jetpack-likes-widget-wrapper {
	width: 100%;
	min-height: 50px;	/* Previous height, 60px */
	position: relative; /* Need to abs position placeholder and iframe so there isn't a jarring jump */
}

div.jetpack-likes-widget-wrapper .sd-link-color {
	font-size: 12px;
}

div.jetpack-likes-widget-wrapper.slim-likes-widget {
	width: 1px; /* initial default */
	min-height: 0;
}

#likes-other-gravatars {
	display: none;
	position: absolute;
	padding: 10px 10px 12px 10px;
	background-color: #2e4453;
	border-width: 0;
	box-shadow: 0 0 10px #2e4453;
	box-shadow: 0 0 10px rgba(46,68,83,.6);
	min-width: 130px;
	z-index: 1000;
}

#likes-other-gravatars * {
	line-height: normal;
}

#likes-other-gravatars .likes-text {
	color: white;
	font-size: 12px;
	padding-bottom: 8px;
}

#likes-other-gravatars ul,
#likes-other-gravatars li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

#likes-other-gravatars li::before {
	content: "";
}

#likes-other-gravatars ul.wpl-avatars {
	overflow: auto;
	display: block;
	max-height: 190px;
}

#likes-other-gravatars ul.wpl-avatars li {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px 5px 0;
}

#likes-other-gravatars ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

#likes-other-gravatars ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}

div.sd-box {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
}

.entry-content .post-likes-widget, .post-likes-widget,
.comment-likes-widget {
	margin: 0;
	border-width: 0;
	display: block;
}


/* Loading text */
.post-likes-widget-placeholder {
	margin: 0;
	border-width: 0;
	position: relative;
}

.post-likes-widget-placeholder .button {
	display: none;	/* Let's not show a dummy like button, let's just make a great button experience once it's loaded */
}

.post-likes-widget-placeholder .button span {
}

.post-likes-widget-placeholder .loading {
	color: #999;
	font-size: 12px;
}

.slim-likes-widget .post-likes-widget {
	width: auto;
	float: none;
}


/* Like Special cases (display on it's own) */
div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like .post-likes-widget {
	width: 100%;
	float: none;
	position: absolute; /* Need to abs position placeholder and iframe so there isn't a jarring jump */
	top: 0;
}

.comment-likes-widget {
	width: 100%;
}


/* Make ratings block. @todo: make !important unnecessary by removing inline style */
.pd-rating {
	display: block !important;
}


/* Hide G+ title */
.sd-gplus .sd-title {
	display: none;
}


#bit, #bit * {
	*zoom: 1;
}

#bit {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	_display: none;
}

/* @noflip */
.rtl #bit {
	font-family: tahoma, Arial, sans-serif;
}

.loggedout-follow-shelf {
	position: fixed;
	right: 40%;
	z-index: 100;
	bottom: -330px;
}

.loggedout-follow-normal {
	position: fixed;
	z-index: 100;
	bottom: -330px;
	right: 10px;
}

.loggedout-follow-typekit {
	margin-right: 4.5em;
	position: fixed;
	z-index: 100;
	bottom: -330px;
	right: 10px;
}

#bit a.bsub {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 8px;
	float: right;
	text-decoration: none !important;
	line-height: 26px;
	font-weight: normal;
	font-size: 13px;
	color: #CCC;
	letter-spacing: normal;
	border: 0;
	background-color: #324155;
	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-o-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-ms-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	outline-style: none;
	outline-width: 0;
}

#bit a.bsub {
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

#bit a.bsub span {
	padding-right: 2px;
}

#bsub-text {
	font-size: 15px;
}

#bit a.bsub span:before {
	background: url(/wp-content/blog-plugins/loggedout-follow/../../../i/reader-follow.svg) 0 -1px;
	background-size: 24px 24px;
	content:'';
	display: inline-block;
	height: 24px;
	margin-right: 5px;
	vertical-align: middle;
	width: 24px;
}

#bit a:hover span, #bit a.bsub.open span {
	color: #ffffff !important;
	background-position: left -117px;
}

#bit a.bsub.open {
	background: #324155;
}

#bitsubscribe {
	background: #324155;
	color: #fff;
	padding: 15px;
	width: 200px;
	margin-top: 27px;
	-moz-border-radius: 2px 0 0 0;
	-webkit-border-radius: 2px 0 0 0;
	-o-border-radius: 2px 0 0 0;
	-ms-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;
	*float: right;
	*margin-right: -68px;
}

div#bitsubscribe.open {
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#bitsubscribe div {
	overflow: hidden;
}

#bitsubscribe a {
	color: #d2dee6;
}

#bit h3, #bit #bitsubscribe h3 {
	margin: 0 0 .5em 0 !important;
	font-size: 20px;
	line-height: 1.313;
	color: #D2DEE6;
	text-align: left;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

#bit h3 label{
	color: #D2DEE6;
	font-family: 'Merriweather', serif;
	font-size: 20px;
}

#bit #bitsubscribe p {
	margin: 0 0 1em 0;
	*margin: 0 0 0 0;
	font-size: 14px;
	line-height: 1.45em;
	font-weight: 300;
	color: #fff;
}

#bitsubscribe p a {
	margin: 20px 0 0;
	color: #fff;
	text-decoration: underline;
}

#bit #bitsubscribe p.bit-follow-count {
	font-size: 13px;
	color: #D2DEE6;
	margin-top: -8px;
}

#bitsubscribe input[type=submit] {
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: .75em;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  background: #00aadc;
  border-color: #0090bb;
  border-top-color: #0099c6;
  border-bottom-color: #0088b0;
  color: #fff;
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  width:100%;
  text-shadow: none;
  font-size: 1em;

}

#bitsubscribe input[type=submit]:hover {
	background: #33bbe3;
	border-color: #2b9ec0;
	border-bottom-color: #2895b5;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
}

#bitsubscribe input[type=submit]:active {
	border-width: 2px 1px 1px;
}

#bitsubscribe input[type=text],
#bitsubscribe input[type=email] {
	background: #f4f8fA;
	border: 1px solid #d2dee6;
	border-radius: 0;
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2;
	height: auto;
	padding: 5px 6px;
	width: 100%;
	box-sizing: border-box;
	/* @noflip */
	direction: ltr;
}

#bitsubscribe input::-webkit-input-placeholder {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

#bitsubscribe input::-moz-placeholder {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

#bitsubscribe input[type=text]:focus,
#bitsubscribe input[type=email]:focus {
	border: 1px solid #000;
}

#bitsubscribe.open {
	display: block;
}

#bsub-subscribe-button {
	text-align: center;
	margin: 0 auto;
}

#bsub-subscribe-button input {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !important;
}

/*
Confirmation
=============================== */


#bitsubscribe #lof-followpublicize h3 {
	font-size: 13px;
	padding-top: 1em;
	margin-bottom: 1em !important;
}

#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter,
#bitsubscribe #lof-followpublicize p.lof-followpublicize-facebook {
	overflow: hidden;
}
#bitsubscribe #lof-followpublicize p.lof-followpublicize-facebook {
	border: 1px solid #242f3d;
}

/*
Error
=============================== */

#bit #bitsubscribe p#loggedout-follow-error {
	background: #E8F0F5;
	border-left: 3px solid #DD3D36;
	font-size: 12px;
	font-weight: 1.4em;
	padding: 10px;
	color: #DD3D36;
}

/*
Footer
=============================== */

#bitsubscribe #bsub-credit {
	text-align: center;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.313;
	padding: 0 0 7px 0;
	margin:0 0 -15px;
	border-top: 1px solid #3c3c3c;
}

#bitsubscribe #bsub-credit a {
	color: #90AEC2;
	background: none;
	text-decoration: none;
}

#bitsubscribe #bsub-credit a:hover {
	color: #78DCFA;
	background: none;
}

@media (max-width: 800px) {
	#bit, #bit a.bsub {
		display:none;
	}
}

@media (min-device-width: 768px) {
	#bit, #bit a.bsub {
		display: block;
	}
}
#demosite-activate-wrap, #demosite-activate-wrap * {
	*zoom: 1;
}
/*
 * Set up Open Sans
 */
#demosite-activate-wrap,
#demosite-activate-wrap input,
#demosite-activate-wrap h3,
#activate-on-blog {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}
/*
 * The main bar
 */
#demosite-activate-wrap {
	background-color: #fff;
	font-size: 14px;
	font-weight: normal !important;
	height: 80px;
	line-height: 1;
	padding: 0;
	z-index: 99998;
	text-align: center !important;
}
#demosite-activate-wrap.demosite-full-width {
	text-align: center !important;
}
#demosite-activate-wrap,
#demosite-activate {
	box-shadow: inset 0 -1px 0 rgba( 0, 0, 0, 0.3 ), 0 1px 3px rgba( 0, 0, 0, 0.2 );
}
#demosite-activate-wrap a {
	font-weight: normal;
}
/*
 * Centered wrapper
 */
.demosite-header {
	max-width: 1000px;
	margin: 20px auto 0;
	height: 60px;
}
/*
 * The main header title
 */
.demosite-tagline {
	color: #8b8b8b;
	display: inline-block;
	font-size: 20px;
	margin: 0;
}
.demosite-activate {
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	width: 100%;
	z-index: 999999;
}
.demosite-logged-in { /* Move the activate bar below the admin bar */
	top: 32px !important;
}
/*
 * Main button
 */
#demosite-activate-wrap .demosite-activate-trigger {
	background: #2ea2cc;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	margin-left: 40px;
	margin-top: 0;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none !important;
}
#demosite-activate-wrap .demosite-activate-trigger:hover {
	background: #0074a2;
	color: #fff;
}
/* Open status */
#demosite-activate-wrap .demosite-activate-trigger.open,
#demosite-activate-wrap .demosite-activate-trigger:active {
	background: #555;
}
/*
 * Theme price
 */
.demosite-activate .theme-price {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	opacity: 0.8;
}
.demosite-activate .theme-price abbr {
	font-size: 10px;
	font-weight: 400;
	position: relative;
		top: -5px;
		left: -1px;
}
/*
 * Secondary blue container
 */
#demosite-activate {
	background: #1e8cbe;
	color: #fff;
	display: none;
	margin-top: 0;
	padding: 0;
	width: 100%;
}
#demosite-activate.open {
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
/*
 * The two options for logged in users
 */
#demosite-activate .loggedin-activate,
#demosite-activate .loggedin-signup {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding-right: 40px;
	width: 50%;
}
#demosite-activate div {
	overflow: hidden;
}
#demosite-activate .loggedin-signup {
	border-left: 2px solid rgba( 255, 255, 255, 0.2 );
	padding-left: 45px;
}
/*
 * Secondary titles
 */
#demosite-activate h3 {
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 1;
	margin: 0 0 .5em 0 !important;
	text-align: center;
	text-transform: none;
	text-shadow: 0 1px 0 #333;
}
#demosite-activate p {
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 1em 0;
	text-align: left;
	text-shadow: 0 1px 0 #666;
}
/*
 * Buttons on blue secondary bar for logged in users
 */
#demosite-activate #activate-button,
#demosite-activate .loggedin-new-blog {
	background: #005684;
	border: none;
	border-radius: 2px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	margin: 1em auto;
	padding: 10px 25px;
	text-decoration: none;
}
#demosite-activate #activate-button:hover,
#demosite-activate .loggedin-new-blog:hover {
	background: #0074a2;
	color: #fff !important;
}
#demosite-activate #activate-button {
	margin-left: 20px;
}
#demosite-activate.open {
	display: block;
}
#activate-button {
	text-align: center;
}
/* The text and form inside the drop-down activate box */
#activate-theme {
	float: none;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	max-width: 1000px;
}
#activate-on-blog {
	-webkit-appearance: menulist;
	background: #fff;
	border: none;
	color: #000;
	display: inline;
	float: none;
	font-size: 13px;
	height: auto;
	max-width: 99%;
	transition: none;
	vertical-align: baseline;
	width: 40%;
}
.activate-description .theme-name {
	font-weight: 700;
}

@media (max-width: 800px) {
	.demosite-premium .demosite-tagline {
		font-size: 16px;
	}
	#demosite-activate-wrap.demosite-premium .demosite-activate-trigger {
		font-size: 16px;
	}
}

@media (max-width: 782px) {
	.demosite-logged-in { /* Move the activate bar below the admin bar */
		top: 46px !important;
	}
}

@media (max-width: 700px ) {
	.demosite-tagline {
		font-size: 16px;
	}
	#demosite-activate-wrap .demosite-activate-trigger {
		margin-left: 30px;
	}
	.demosite-premium .demosite-header {
		margin: 14px 0 0;
		height: 86px;
	}
	.demosite-premium .demosite-tagline {
		font-size: 18px;
		margin: 0 0 15px;
	}
	#demosite-activate-wrap.demosite-premium .demosite-activate-trigger {
		margin-left: 0;
		width: 80%;
	}
}
@media (max-width: 620px) {
	#demosite-activate-wrap {
		height: 100px;
	}
	.demosite-header {
		margin: 14px 0 0;
		height: 86px;
	}
	.demosite-tagline {
		font-size: 18px;
		margin: 0 0 15px;
	}
	#demosite-activate-wrap .demosite-activate-trigger {
		margin-left: 0;
		width: 80%;
	}
	#activate-theme {
		width: 90%;
	}
	#demosite-activate p {
		font-size: 13px;
	}
	.activate-form {
		padding-top: 0.8em;
	}
	#demosite-activate #activate-button,
	#demosite-activate .loggedin-new-blog {
		margin-left: 0;
		margin-right: 0;
		font-size: 13px;
	}
	#activate-on-blog {
		width: auto;
	}
}
@media (max-width: 520px) {
	.demosite-tagline,
	.demosite-premium .demosite-tagline {
		font-size: 16px;
	}
	#demosite-activate-wrap .demosite-activate-trigger {
		border-radius: 0;
		-moz-box-sizing: border-box;
		box-shadow: inset 0 -1px 0 rgba( 0, 0, 0, 0.3 ), 0 1px 3px rgba( 0, 0, 0, 0.2 );
		box-sizing: border-box;
		width: 80%;
	}
	#activate-theme {
		width: 95%;
	}
}/**
 * Add text colors to the playlist shortcode light color scheme.
 * 
 * Core ticket: https://core.trac.wordpress.org/ticket/27562
 */

.wp-playlist-light {
	color: #000;
}

.wp-playlist-light .wp-playlist-item {
	color: #333;
}

.wp-playlist-light .wp-playlist-playing {
	background: #fff;
	color: #000;
}

.wp-playlist-dark .wp-playlist-item .wp-playlist-caption {
	color: #fff;
}

.wp-playlist-caption {
	display: block;
}/**
 * MP6 hacks, CSS that's either WPCOM specific or otherwise not suitably for MP6 proper
 */

/* Invert stats sparkline on light theme */
body.admin-color-mp6-light li#wp-admin-bar-stats img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

/* Fix dashicons priority so Japanese users can use the toolbar. Should long term be fixed in whatever plugin that forces all fonts to be Arial */
i.mce-i-bold, i.mce-i-italic, i.mce-i-bullist, i.mce-i-numlist, i.mce-i-blockquote, i.mce-i-alignleft, i.mce-i-aligncenter, i.mce-i-alignright, i.mce-i-link, i.mce-i-unlink, i.mce-i-wp_more, i.mce-i-strikethrough, i.mce-i-spellchecker, i.mce-i-fullscreen, i.mce-i-wp_fullscreen, i.mce-i-wp_adv, i.mce-i-underline, i.mce-i-alignjustify, i.mce-i-forecolor, i.mce-i-pastetext, i.mce-i-pasteword, i.mce-i-removeformat, i.mce-i-charmap, i.mce-i-outdent, i.mce-i-indent, i.mce-i-undo, i.mce-i-redo, i.mce-i-help, i.mce-i-wp_help, i.mce-i-wp-media-library, i.mce-i-ltr, i.mce-i-wp_page, .mce-close {
	font: normal 20px/1 'dashicons' !important;
}

.dashicons, .dashicons-before:before {
	font-family: 'dashicons' !important;
}

.noticon {
	font-family: "Noticons" !important;
}.bbp-staff-role {
	color: #f1831e;
}

.bbp-a8c-reply {
	background: #e9eff3 !important;
	border: 1px solid #c8d7e1;
	width: 98% !important;
}/*
Theme Name: Big Brother
Theme URI: https://wordpress.com/themes/big-brother/
Author: Automattic
Author URI: https://wordpress.com/themes/
Description: A pleasant-to-read, customizable theme designed for large organizations and government.
Version: 1.0.11-wpcom
License: GNU General Public License
License URI: license.txt
Text Domain: big-brother
Domain Path: /languages/
Tags: blog, blue, business, classic-menu, clean, conservative, custom-background, custom-colors, custom-header, custom-menu, education, fixed-layout, full-width-template, infinite-scroll, light, post-formats, responsive-layout, right-sidebar, rtl-language-support, school, site-logo, traditional, translation-ready, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Big Brother is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1em;
  margin: 1em 0;
}

h4 {
  font-size: 0.83em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: #444;
}

body {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Gentium Basic", Georgia, "Times New Roman", Times, serif;
}

::-moz-selection {
  background: #0074c2;
  color: white;
  text-shadow: none;
}

::selection {
  background: #0074c2;
  color: white;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  color: #283d4b;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: #1185d7;
  text-decoration: none;
}
a:visited {
  color: #1185d7;
}
a:hover {
  color: #1da1ff;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}

address {
  margin: 0 0 1.5em;
}

blockquote {
  border-left: 5px solid #1f567d;
  margin: 0 0 30px;
  padding: 15px 30px;
}

abbr[title],
acronym {
  cursor: help;
}

ins {
  background: #eee;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

dt {
  font-weight: 700;
}

table {
  margin: 0 0 30px;
  width: 100%;
}

td, th {
  border-bottom: 1px solid #d9dde0;
  padding: 0.4375em 0.3125em;
}

th {
  border-bottom-width: 3px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"], .button,
.button:visited, #infinite-handle span {
  padding: 0.67857em 1.35714em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  color: #dcedf5;
  border: 0;
  background: #1f567d;
  outline: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover, .button:hover {
  color: #fff;
  background: #4a99d2;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active, .button:active {
  color: #fff;
  background: #1da1ff;
}

button[disabled],
input[disabled],
input[disabled]:hover {
  border: 0;
  color: #aaa;
  background: #eee;
}

form p {
  margin: 0;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea {
  margin-bottom: 20px;
  padding: 0.5em;
  color: #555;
  background: #fbfbfb;
  font-size: .9em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid #a6b7c0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a6b7c0;
}
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #a6b7c0;
}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a6b7c0;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a6b7c0;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
textarea::placeholder {
  color: #a6b7c0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
  color: #5c6671;
  background: #fff;
  outline: none;
}

@media screen and (min-width: 960px) {
  .nav-horizontal {
    text-align: center;
  }
  .nav-horizontal ul {
    margin: 0;
    padding: 0;
  }
  .nav-horizontal ul ul a,
  .nav-horizontal ul ul a:visited {
    color: #3e749b;
  }
  .nav-horizontal > div > ul > li {
    float: left;
  }
  .nav-horizontal li {
    position: relative;
    text-align: left;
  }
  .nav-horizontal li:hover > ul {
    display: block;
  }
  .nav-horizontal li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12.5em;
    z-index: 2;
  }
  .nav-horizontal li li > ul {
    left: 100%;
    top: 0;
  }
  .nav-horizontal a {
    display: block;
    padding: 9px 15px;
  }
  .nav-horizontal a:hover {
    text-decoration: none;
  }
}
html,
body {
  background: #f5f6f7;
}

.custom-background .site-footer {
  border-top: 10px solid #1f567d;
}

body.page-template-full-width-php .primary {
  width: 100%;
}

.site-header {
  text-align: center;
  background: #1f567d;
}

.site-header {
  position: relative;
}

.header-image {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-branding {
  position: relative;
  margin: 50px 0 30px;
}

.site-branding.has-header {
  min-height: 67px;
}

.site-title {
  margin: 0 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.site-title a {
  color: #fff;
}

.site-description {
  margin: 0 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Gentium Basic", Georgia, "Times New Roman", Times, serif;
  
}

.primary {
  padding: 30px 0;
}

.secondary {
  padding: 30px;
  font-size: 16px;
}
.secondary .widget:first-of-type {
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.secondary .widget:last-of-type {
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.article-wrapper {
  margin: 0 0 15px;
  padding: 30px;
  background: #fff;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.hentry {
  text-align: left;
}

.main-navigation {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  z-index: 100;
}
.main-navigation a,
.main-navigation a:visited {
  color: #e2eef7;
}
.main-navigation a:hover, .main-navigation a:active,
.main-navigation a:visited:hover,
.main-navigation a:visited:active {
  color: white;
}

.menu-toggle {
  background: #1b4b6d;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: white;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
}

.header-image ~ .menu-toggle {
  background: rgba(27, 75, 109, 0.6);
}

.menu-toggle,
.main-navigation.toggled .nav-menu {
  display: block;
}

.main-navigation > div > ul {
  position: absolute;
  z-index: 1;
}

.main-navigation.toggled > div > ul {
  background: #1b4b6d;
  border-top: 1px solid #1f567d;
}

.main-navigation ul {
  display: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
.main-navigation ul li li {
  float: none;
  display: block;
}
.main-navigation ul li a {
  border-bottom: 1px solid #1f567d;
  display: block;
  padding: 7px 30px;
}
.main-navigation ul li li a {
  padding: 7px 30px 7px 45px;
}
.main-navigation ul li li li a {
  padding: 7px 30px 7px 60px;
}
.main-navigation ul ul {
  display: block;
}

.nav-horizontal > div > ul > li {
  float: none;
}

.breadcrumbs {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.breadcrumbs-ancestor:before,
.breadcrumbs-current:before {
  color: rgba(40, 40, 40, 0.2);
  content: ">";
  display: inline;
  margin: 0 7px;
}

.page-header {
  background: #fff;
  padding: 15px 30px;
  text-align: right;
  margin: 0 0 15px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.page-title {
  display: block;
  font-size: 18px;
  color: #486d87;
  text-align: left;
  text-transform: uppercase;
}
.page-title span {
  font-weight: 800;
}

.no-results .page-header,
.no-results .page-title,
.error-404 .page-header,
.error-404 .page-title {
  float: none;
}
.no-results .page-header,
.error-404 .page-header {
  padding: 0;
}

.sticky,
.bypostauthor,
.gallery-caption {
  /* Required empty classes */
}

.entry-header h1 {
  margin-top: 0;
}

.entry-title a {
  color: #1f567d;
  word-wrap: break-word;
}

.hentry a {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hentry a:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.byline,
.updated {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-meta {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 0 30px;
}

.entry-content {
  margin: 0 0 30px;
}

.posted-on,
.entry-categories,
.entry-tags,
.comments-link,
.entry-meta .edit-link,
.byline {
  margin-right: 10px;
}
.posted-on a:first-child:before,
.entry-categories a:first-child:before,
.entry-tags a:first-child:before,
.comments-link a:first-child:before,
.entry-meta .edit-link a:first-child:before,
.byline a:first-child:before {
  content: '\f100';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1.4em;
  font-size: 18px;
  line-height: 1;
  font-family: "Genericons", Arial, sans-serif;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.posted-on a:first-child:before {
  content: '\f303';
}

.entry-categories a:first-child:before {
  content: '\f301';
}

.entry-tags a:first-child:before {
  content: '\f302';
}

.comments-link a:first-child:before {
  content: '\f300';
}

.entry-meta .edit-link a:first-child:before {
  content: '\f411';
}

.byline a:first-child:before {
  content: '\f304';
}

.entry-format {
  margin-right: 10px;
}
.entry-format:before {
  content: "";
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1.4em;
  font-size: 18px;
  line-height: 1;
  font-family: "Genericons", Arial, sans-serif;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.format-link .entry-title a:after {
  content: "\f442";
  display: inline-block;
  font-size: 36px;
  line-height: 1;
  margin-left: 10px;
  font-family: "Genericons", Arial, sans-serif;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.format-aside .entry-format:before {
  content: "\f101";
}

.format-image .entry-format:before {
  content: "\f102";
}

.format-video .entry-format:before {
  content: "\f104";
}

.format-link .entry-format:before {
  content: "\f107";
}

.format-quote .entry-format:before {
  content: "\f106";
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption {
  border: 1px solid #cccccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  font-size: 14px;
  margin: 0.8075em;
}

.site-main .gallery {
  margin-bottom: 1.5em;
}

.site-main .gallery a img {
  border: none;
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 90%;
}

.site-main .gallery dd {
  margin: 0;
}

.gallery-item {
  float: left;
  margin: 0 0 1.5em;
}

/* Gallery column widths */
.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.667%;
}

.gallery-columns-7 .gallery-item {
  width: 14%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.11%;
}

embed,
iframe,
object {
  max-width: 100%;
}

.site-main [class*="navigation"] {
  overflow: hidden;
}

.nav-previous a,
.nav-next a {
  display: inline-block;
  margin: 0 30px;
  padding: 0.7em 1em;
  color: #f5f6f7;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #1f567d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.nav-previous .meta-nav,
.nav-next .meta-nav {
  display: none;
}

.nav-previous {
  float: left;
  width: 50%;
}
.nav-previous a {
  margin-right: 0;
}

.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.site-footer {
  padding: 30px;
  font-size: 16px;
  /*background: #eaecee;*/
  background-color: #1F567D;
}
.site-footer .sep {
  clear: both;
  display: block;
  height: 1px;
  visibility: hidden;
}

.site-info {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.comments-area {
  margin-top: 15px;
  background: #fff;
  padding: 30px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.comments-wrapper,
html #respond {
  clear: both;
  text-align: left;
}

.comments-title {
  margin: 0 0 30px;
  font-weight: 400;
}
.comments-title span {
  font-weight: 800;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list .children {
  list-style: none;
}

.comment-body {
  position: relative;
  margin-bottom: 45px;
}
.comment-body .avatar {
  margin-bottom: 15px;
}
.comment-body .reply {
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.no-comments {
  clear: both;
  font-style: italic;
  text-align: center;
}

.comment-author .fn {
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  word-wrap: break-word;
}
.comment-author .says {
  display: none;
}
.comment-author .avatar {
  position: absolute;
  left: 0;
}

.comment-author,
.comment-metadata,
.comment-content,
.comment .reply {
  margin-left: 90px;
}

.comment-metadata {
  line-height: 1;
}
.comment-metadata a,
.comment-metadata a:visited {
  position: relative;
  top: -5px;
  color: #aaa;
  font-size: 12px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.comment-metadata .comment-edit-link,
.comment-metadata .comment-edit-link:visited {
  margin-left: 15px;
  color: #1185d7;
}

.comment-content {
  font-size: 18px;
}

.comment-respond {
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.comments-wrapper + .comment-respond {
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.comment-content a {
  word-wrap: break-word;
}

.form-allowed-tags {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.comment-reply-title {
  margin-top: 0;
}

.comment-notes {
  margin-bottom: 1em;
}

.comment-form p {
  position: relative;
}
.comment-form label {
  position: absolute;
  top: 12px;
  left: 1em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  pointer-events: none;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  clear: both;
  text-indent: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.comment-form input[type="text"]:active, .comment-form input[type="text"]:focus,
.comment-form input[type="email"]:active,
.comment-form input[type="email"]:focus,
.comment-form input[type="url"]:active,
.comment-form input[type="url"]:focus,
.comment-form textarea:active,
.comment-form textarea:focus {
  position: relative;
  text-indent: 0;
  z-index: 99;
}

.required {
  color: #d01717;
}

.logged-in-as {
  margin: 1em 0;
}

.widget {
  padding: 15px;
  border-top: 1px solid #d9dde0;
  background: #eaecee;
  overflow: hidden;
}
.widget:first-child {
  border-top: none;
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget ul ul {
  margin-left: 15px;
}
.widget ul ul ul {
  margin-left: 30px;
}
.widget input[type="search"] {
  margin-bottom: 0;
}
.widget a {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.widget a:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.widget-title {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.widget select {
  max-width: 100%;
}

.widget_search .search-submit {
  display: none;
}

#wp-calendar #next {
  text-align: right;
}

.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

.infinity-end.neverending .site-footer {
  display: block;
}

#infinite-footer .container {
  border: none;
}

#infinite-footer .blog-credits a,
#infinite-footer .blog-info a {
  color: #333;
}
#infinite-footer .blog-credits a:hover,
#infinite-footer .blog-info a:hover {
  color: #333;
}

#infinite-handle {
  margin: 1.25em auto;
  min-height: 35px;
  text-align: center;
}
#infinite-handle span {
  font-size: 0.75em;
}
#infinite-handle span:hover {
  text-decoration: underline;
}

.infinite-loader {
  margin: 15px auto;
  width: 34px;
}

.legal {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}

.social-links {
  margin: 0 auto;
}

.social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-links ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.social-links ul a {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
.social-links ul a:before {
  content: "\f415";
  display: block;
  font-family: "Genericons", Arial, sans-serif;
  font-weight: normal;
  font-size: 28px;
  font-style: normal;
  margin: 5px 0 0;
  text-align: center;
  text-decoration: inherit;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social-links ul a:hover {
  text-decoration: none;
}
.social-links ul a:hover:before {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social-links ul:last-of-type {
  margin-right: 0;
}

.social-links ul a[href*='wordpress.org']:before,
.social-links ul a[href*='wordpress.com']:before {
  content: '\f205';
}
.social-links ul a[href*='facebook.com']:before {
  content: '\f204';
}
.social-links ul a[href*='twitter.com']:before {
  content: '\f202';
}
.social-links ul a[href*='dribbble.com']:before {
  content: '\f201';
}
.social-links ul a[href*='plus.google.com']:before {
  content: '\f206';
}
.social-links ul a[href*='pinterest.com']:before {
  content: '\f209';
}
.social-links ul a[href*='github.com']:before {
  content: '\f200';
}
.social-links ul a[href*='tumblr.com']:before {
  content: '\f214';
}
.social-links ul a[href*='youtube.com']:before {
  content: '\f213';
}
.social-links ul a[href*='flickr.com']:before {
  content: '\f211';
}
.social-links ul a[href*='vimeo.com']:before {
  content: '\f212';
}
.social-links ul a[href*='instagram.com']:before {
  content: '\f215';
}
.social-links ul a[href*='codepen.io']:before {
  content: '\f216';
}
.social-links ul a[href*='linkedin.com']:before {
  content: '\f207';
}
.social-links ul a[href*='foursquare.com']:before {
  content: '\f226';
}
.social-links ul a[href*='reddit.com']:before {
  content: '\f222';
}
.social-links ul a[href*='digg.com']:before {
  content: '\f221';
}
.social-links ul a[href*='getpocket.com']:before {
  content: '\f224';
}
.social-links ul a[href*='path.com']:before {
  content: '\f219';
}
.social-links ul a[href*='stumbleupon.com']:before {
  content: '\f223';
}
.social-links ul a[href*='spotify.com']:before {
  content: '\f515';
}
.social-links ul a[href*='twitch.tv']:before {
  content: '\f516';
}
.social-links ul a[href*='dropbox.com']:before {
  content: '\f225';
}
.social-links ul a[href*='/feed']:before {
  content: '\f413';
}
.social-links ul a[href*='skype']:before {
  content: '\f220';
}
.social-links ul a[href*='mailto']:before {
  content: '\f410';
}

@media (min-width: 768px) {
  .breadcrumbs {
    line-height: 1em;
    padding-left: 0;
    word-break: keep-all;
    white-space: nowrap;
  }

  .breadcrumbs-root {
    background: #eaecee;
    background: #1f567d;
    display: inline-block;
    padding: 0.7em 1em;
    color: #f5f6f7;
    font-weight: 800;
    margin-bottom: 0.7em;
    z-index: 1;
    position: relative;
    border-color: #1f567d;
  }
  .breadcrumbs-root:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: #1f567d;
    top: 50%;
    left: 100%;
    margin-left: 0;
    margin-top: -1.2em;
    border-top: 1.2em solid transparent;
    border-bottom: 1.2em solid transparent;
    border-left: 1.2em solid #1f567d;
    border-left-color: inherit;
  }
  .breadcrumbs-root:visited {
    color: #fff;
  }

  .breadcrumbs-ancestor,
  .breadcrumbs-current {
    background: #eaecee;
    padding: 0.3125em 0.75em 0.3125em 2em;
  }

  .breadcrumbs-ancestor:before,
  .breadcrumbs-current:before {
    content: "";
    margin: 0;
  }

  .breadcrumbs-ancestor {
    position: relative;
  }
  .breadcrumbs-ancestor:first-of-type {
    padding-left: 35px;
  }
  .breadcrumbs-ancestor a, .breadcrumbs-ancestor.cat-parents .sep {
    border-color: #eaecee;
  }
  .breadcrumbs-ancestor a:before, .breadcrumbs-ancestor a:after, .breadcrumbs-ancestor.cat-parents .sep:before, .breadcrumbs-ancestor.cat-parents .sep:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -1em;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid red;
    border-left-color: inherit;
    z-index: 1;
  }
  .breadcrumbs-ancestor a:before, .breadcrumbs-ancestor.cat-parents .sep:before {
    margin-left: 1px;
    border-left-color: #cad4dc;
  }
  .breadcrumbs-ancestor.cat-parents .sep {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-right: 35px;
  }
  .breadcrumbs-ancestor.cat-parents .sep:before, .breadcrumbs-ancestor.cat-parents .sep:after {
    top: -0.375em;
  }
  .breadcrumbs-ancestor.cat-parents .sep:last-of-type {
    display: none;
  }

  .breadcrumbs-current {
    padding-right: 1.125em;
    color: #777;
    background: #fff;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .breadcrumbs-current + .breadcrumbs-current {
    margin-left: -0.75em;
    padding-left: 0;
  }
}
@media (min-width: 960px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.75em;
  }

  .primary {
    float: left;
    width: 70%;
  }

  .secondary {
    float: right;
    width: 30%;
  }
  .secondary .widget:first-of-type {
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .secondary .widget:last-of-type {
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }

  .article-wrapper {
    text-align: right;
  }

  .hentry {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }

  .page-title {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }

  .comments-area {
    text-align: right;
  }

  .comments-wrapper,
  html #respond {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }

  .main-navigation > div > ul {
    position: inherit;
  }

  .main-navigation.toggled > div > ul {
    background: transparent;
    border-top: 0;
  }

  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }

  .main-navigation ul ul {
    border: 1px solid #ecf1f4;
    display: none;
  }

  .main-navigation {
    background: #1b4b6d;
  }
  .main-navigation ul {
    text-align: center;
  }
  .main-navigation ul li a {
    border: 0;
    padding: 9px 15px;
  }
  .main-navigation ul li li a,
  .main-navigation ul li li li a {
    padding: 9px 15px;
    text-align: left;
  }
  .main-navigation li {
    display: inline-block;
    float: none;
  }
  .main-navigation li:hover {
    background: #ecf1f4;
  }
  .main-navigation li:hover a,
  .main-navigation li:hover a:visited {
    color: #3e749b;
  }
  .main-navigation li > ul {
    background: #ecf1f4;
  }
  .main-navigation li li:hover {
    background: white;
  }

  .main-navigation.has-header {
    background: rgba(27, 75, 109, 0.8);
    position: relative;
  }

  .site-footer .sep {
    clear: none;
    display: inline;
    height: auto;
    visibility: visible;
  }

  .site-info {
    float: left;
    line-height: 28px;
    max-width: 50%;
  }

  .social-links {
    float: right;
    margin: 0;
    text-align: right;
  }
  .social-links ul a {
    margin-left: 5px;
    margin-right: auto;
  }
  .social-links ul a:before {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .site-content,
  .main-navigation ul,
  .site-footer-wrapper {
    margin: 0 auto;
    max-width: 1280px;
  }

  .content-area,
  .breadcrumbs {
    padding-left: 30px;
  }
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .article-wrapper:before, .main-navigation ul:before, .site-footer:before, .comment-body:before,
.clearfix:after,
.article-wrapper:after,
.main-navigation ul:after,
.site-footer:after,
.comment-body:after,
.site-main .gallery:before,
.site-main .gallery:after {
  content: " ";
  display: table;
}

.clearfix:after, .article-wrapper:after, .main-navigation ul:after, .site-footer:after, .comment-body:after, .site-main .gallery:after {
  clear: both;
}

.clearfix, .article-wrapper, .main-navigation ul, .site-footer, .comment-body, .site-main .gallery {
  *zoom: 1;
}

.assistive-text {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 2em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.textcenter {
  text-align: center;
}

.view {
  display: block;
}

.secrets {
  display: none;
}

.show + .secrets {
  display: block;
}

.secrets .view,
.secrets .secrets {
  margin-left: 1.25em;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
